*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", system-ui;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d6d6d6;
    color: #000;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 583px;
    max-height: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 3px rgba(128, 128, 128, 0.411);
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 16px;
}
.form input{
    margin: 5px 0px 5px 3px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(175, 174, 174);
    width: 100%;
}
.form input:focus{
    outline: none;
}
.form button{
    padding: 8px;
    background-color: #fff800;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
    font-size: 16px;
    text-align: center;
    width: 140px;
    margin: 4px auto;
}
.form p{
    margin: 14px;
    font-size: 16px;
}
.imagen{
    background-image: url(./img/imc.jpg);
    background-repeat: no-repeat;
    transition: background-position 0.4s;
    border-radius: 6px;
}
.imagen p{
    display: flex;
    justify-content: center;
    margin-top: 330px;
    background-color: #F2F2F2;
    height: 44px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.peso1{
    background-position: -26px -36px;
    min-width: 126px;
}
.peso2{
    background-position: -172px -38px;
    min-width: 136px;
}
.peso3{
    background-position: -315px -38px;
    min-width: 146px;
}
.peso4{
    background-position: -470px -38px;
    min-width: 137px;
}

@media screen and (max-width: 576px){
   .contenedor{
    max-width: 325px;
    padding: 20px;
    flex-direction: column-reverse;
    max-height: 756px;
   }
   h1{
    font-size: 20px;
   }
   label{
    font-size: 14px;
    margin-top: 10px;
   }
}